@charset "utf-8";


/* --------common---------- */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif,'Josefin Sans', 'Noto sans JP', 'Times New Roman', 'Yu Mincho', 'Hiragino Mincho ProN';

}

body {
  color: #6D6059;
  background-color: #fffefadc;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --maincolor: #B7CECE;
  --subcolor: #e7f0ed;
  --btncolor: #9AC1C1;
  --textcolor: #6D6059;
}

a {
  text-decoration: none;
  color: #6D6059;
}

li {
  list-style: none;
}


.container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}



h1,
h2,
h3 {
  font-weight: normal;
}



/* -------contactボタン----------- */
.contact_btn a {
  display: inline-block;
  text-align: center;
  line-height: 15px;
  color: #fff;
  padding: 8px 28px;
  background-color: var(--btncolor);
  border-radius: 35px;
}

.contact_btn a:hover {
  color: var(--textcolor);
}


.main-text {
  font-size: 1.5rem;
}

.sub-text {
  font-size: 0.6rem;
}

/* -------sectionタイトル------------ */
.section_title {
    width: 100%;
    margin: 0 auto;
  }


.section_title h2 {
  font-size: 56px;
  margin-bottom: 5vw;
  text-align: center;
}


.title_ja {
  font-size: 16px;
  position: relative;
  margin-left: 40px;
}

.title_ja::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -20px;
  width: 15px;
  height: 1px;
  background-color: var(--textcolor);
}

.title_ja::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -20px;
  width: 15px;
  height: 1px;
  background-color: var(--textcolor);
}



/* ==========PC=============== */
/* ---------ヘッダー---------------- */

#header {
  width: 100vw;
  height: 100px;
  position: fixed;
  z-index: 10;
}

.header_wrapper {
  max-width: 95%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header h1 {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}

.header_menu a {
  position: relative;
  text-decoration: none;
  color:var(--textcolor); /* お好みの文字色 */
}

/* ナビ下線 */
.header_menu a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 50px;
  height: 2px;
  background: currentColor; 
  transition: transform 0.3s ease;
}

.header_menu a:hover::after {
  transform: translateX(-50%) scaleX(1);
}


.header_navi ul {
  height: 100%;
  display: flex;
  align-items: center;
}

.header_navi li {
  margin-left: 4vw;
}

.instagram-icon img {
  width: 40px;
  height: 40px;
  margin-left: 30px;
}


header.scrolled {
  background-color: #fff;
  transition: background-color 0.5s;
}

/* ---ハンバーガー（pc非表示）---- */

.hamburger_menu {
  display: none;
}

/* ----------メインビジュアル---------- */
#main_visual {
  width: 100vw;
  height: 80vh;
  position: relative;
}

/* --メインビジュアニメーション-- */
.main_bg li {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  opacity: 0;
  animation: fadeIn 21s infinite;
  overflow: hidden;
}


.main_bg li img{
  width: 100%;
  height: 100%;
object-fit: cover;
opacity: 0.7;
}

.main_bg li:nth-child(1) {
  animation-delay: 0s;
}

.main_bg li:nth-child(2) {
  animation-delay: 7s;
}

.main_bg li:nth-child(3) {
  animation-delay: 14s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  45% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* -----メインビジュテキスト---- */
.main_visualtext {
  padding: 30px;
  background-color: #ffffff91;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeInText 1s ;
}

/* -----メインビジュテキストアニメーション---- */
@keyframes fadeInText {
  0% {
    opacity: 0; 
  }
  100% {
    opacity: 1;
  }
}



.main_visualtext p:nth-of-type(1) {
  font-family: "Annie Use Your Telescope";
  font-size: 18px;
  color: #6d6059;
  letter-spacing: 0.2rem;
  text-align: center;
}

.main_visualtext p:nth-of-type(2) {
  margin-top: 20px;
  font-size: 16px;
  line-height: 2rem;
  letter-spacing: 0.2rem;
  text-align: center;
}



/* ----------スクロールの文字------------ */
.scroll {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}



.scroll p {
  color: var(--textcolor);
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  padding: 40px 8px 20px 8px;
  letter-spacing: 1px;
  font-size: 16px;
  position: relative;
}


.scroll p::before {
  content: "";
  display: block;
  width: 1px;
  height: 50px;
  background-color: var(--textcolor);
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}




/* ----------------main-------------------
--------------------about-------------- */
.bg-section {
  background-color: #ffffffde;
}

#about {
  width: 100%;
  padding: 150px 0 50px;
  margin-top: 100px;
  position: relative;
}

#about .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.about_text {
  width: 40%;
}

.about_image {
  width: 40%;
  position: relative;
}



.about_image img {
  display: block;
  width: 80%;
  margin: 60px auto 0;
}


.name_ja {
  font-size: 20px;
  margin-bottom: 30px;
}

.name_en {
  font-size: 14px;
  margin-left: 20px;
  letter-spacing: 0.1rem;
}

.profile p {
  font-size: 0.8rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
}



.about_square {
  width: 100%;
  height: 80%;
  background-color: var(--subcolor);
  position: absolute;
  top: 35%;
  left: -20%;
  z-index: -1;
}


.about_circle1 {
  width: 140px;
  height: 140px;
  background-color: var(--maincolor);
  border-radius: 50%;
  position: absolute;
  top: 50px;
  right: 150px;
  z-index: -2;
  animation: float 5s ease-in-out infinite;
}

.about_circle2 {
  width: 100px;
  height: 100px;
  background-color: var(--subcolor);
  border-radius: 50%;
  position: absolute;
  top: 200px;
  right: 100px;
  z-index: -2;
  animation: float 5s 1s ease-in-out infinite;
}


.about_circle3 {
  width: 60px;
  height: 60px;
  background-color: var(--subcolor);
  border-radius: 50%;
  position: absolute;
  top: 320px;
  right: 180px;
  z-index: -2;
  animation: float 5s 2s linear infinite;
}



@keyframes float {
  0% {
    transform: translateY(0);
    /* 初期位置 */
    opacity: 1;
  }

  50% {
    transform: translateY(-15px);
    /* 上に移動 */
    opacity: 0.9;
    /* 少し透明 */
  }

  100% {
    transform: translateY(0);
    /* 元の位置に戻る */
    opacity: 1;
  }
}


/* ---------------skill-------------------*/

#skill {
  padding: 150px 0 50px;
}


#skill h2 {
  text-align: center;
}

.skill_wrapper {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.skill_text {
  width: 50%;
 padding: 50px;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  background-color: #F7F6F0;
}

.skill_text h3 {
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
}

.skill_wrapper h3 img {
  width: 40px;
  height: 40px;
  margin-left: 8px;
}

.skill_text ul {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.skill_text ul li {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #6D6059;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

/* ---------------works-------------------*/
#works {
  width: 100%;
  padding: 150px 0 50px;
  text-align: center;
}

.works_list {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.8rem;
}


.works_list li{
  width: 300px;
  height: 250px;
  margin-bottom: 56px;
  padding: 20px 0;
  background-color: #F7F6F0;
}


#works img {
height: 160px;
}

.works_list li p{
  margin-top:15px;
}

.works_list a:hover {
  filter: brightness(0.7);
  transition: 0.3s;
}



/* --------flow------------- */
#flow {
  width: 100%;
  padding: 150px 0 150px;
}


.flow-wrapper {
  width: 80%;
  margin: 0px auto;
  padding: 0 40px 40px;
}

.flow_step {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
}

/* 左側の番号（丸） */
.flow_circle {
  width: 40px;
  height: 40px;
  background-color:var(--maincolor);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 2;
  margin-right: 20px;
}


/* 縦のライン */
.flow_step::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 50px;
  width: 2px;
  height: 80%;
  background-color: #d8d8d8;
}

.flow_step:last-child::before {
  display: none;
}



.flow_title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.flow_description {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}

/* あしらいの丸 */
.flow_circle1 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--maincolor);
  position: absolute;
  bottom: 0px;
  left: 250px;
  animation: float 5s linear infinite;
  z-index: -2;
}

.flow_circle2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:var(--subcolor);
  position: absolute;
  bottom: 90px;
  left: 180px;
  animation: float 5s 1s linear infinite;
  z-index: -2;
}

.flow_circle3 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--subcolor);
  position: absolute;
  bottom: 160px;
  left: 170px;
  animation: float 5s 2s linear infinite;
  z-index: -2;
}





/* -------------price---------------- */
#price {
  width: 100%;
  padding: 80px 0 120px ;
  background-color: #ffffff71;
}


.price-section {
  text-align: center;
  padding: 50px 20px;
}

.price-content {
  display: flex;
  align-items:center;
  justify-content: center;
  gap: 60px;
  max-width: 900px;
  margin: 0 auto;
}

.price-image img {
  width: 100%;
  max-width: 400px;
}
.price-text {
  max-width: 400px;
  text-align: left;
}

.price-btn {
  display: inline-block;
  background-color:#fff;
  text-decoration: none;
  padding: 12px 28px;
  border-radius: 35px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 50px;
  border:1px solid #666;
}

.price-btn:hover {
 background-color: #9AC1C1;
 color: #fff;
 transition: all 0.2s; 
}

/* =======料金別ページスタイル========= */

/* セクション全体 */
.price-section {
  max-width: 1000px;        
  margin: 0 auto;   
  padding: 130px 0 100px;    
}

/* タイトル */
.price-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.price-intro {
  padding: 30px 20px;
  margin-bottom: 40px;
  line-height:2rem;
  background-color: #F7F6F0;
}

/* 小見出し */
.price-subtitle {
  font-size: 20px;
  font-weight: bold;
  margin: 40px 0 15px;
  position: relative;
  display: inline-block;
}

/* 料金表 */
.price-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto 20px;     /* 下に余白を追加 */
  font-size: 14px;
  text-align: left;     
}

.price-table thead th {
  background-color: var(--subcolor);
  text-align: center;
}

.price-table th,
.price-table td {
  border: 1px solid #ccc;
  padding: 12px;
  background-color: #fff;
}

/* 注意書き*/
.price-note {
  font-size: 14px;
  color: #888;
  margin-bottom: 40px;
  text-align: left;
}

/* お問い合わせ */
.price-contact  {
  margin-top: 100px;
  text-align: center;
}



/* ----------footer--------------- */
#footer {
  padding: 30px 0;
  background-color: #F2F7F4;
}

.footer_wrapper {
  max-width: 95%;
  margin: 0 auto;
}

.contact_btn {
  text-align: center;
}

.footer_wrapper p {
  font-size: 1.3rem;
}


#to_top {
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 15%;
  right: 3%;
  border-radius: 50%;
  border: 1px solid var(--textcolor);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  line-height: 1.2rem;
  opacity: 0;
  pointer-events: none;
}


#to_top:hover {
  background-color: var(--maincolor);
  transition: 0.3s;
  color: #fff;
}

#to_top.scrolled {
  opacity: 1;
  pointer-events: auto;
  transition: 0.3s;
}



#footer small {
  display: block;
  text-align: center;
  margin-top: 50px;
}




/* -------スライドアニメーション----- */
.animate {
  opacity: 0;
  transform: translateY(150px);
  transition: opacity 1.5s, transform 1.5s;
}

.animate.appear {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.5s, transform 1.5s;
}


/* ======================================= */
/* ===========tablet=============== */
@media(max-width:1024px) {

  /* ------common------- */
  .container {
    max-width: 90%;
    margin: 0 auto;
  }



  .title_ja {
    font-size: 14px;
    position: relative;
    margin-left: 40px;
  }




  /* -------contactボタン------------ */

  .main-text {
    font-size: 1.3rem;
  }

  .sub-text {
    font-size: 0.5rem;
  }


  /* ------ヘッダー--------- */  
  .header_navi .navi_menu,
  .instagram-icon {
    display: none;
  }

  #header h1 {
    font-size: 1.2rem;
  }

  #header .contact_btn {
    margin-right: 60px;
  }

  .header_menu {
    display: none;
  }


  /* ---------ハンバーガー------- */
  #hamburger {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 40px;
    right: 20px;
    cursor: pointer;
    z-index: 20;
  }

  .hamburger_menu {
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: #000000ce;
    position: fixed;
    top: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
    z-index: 10;
  }

  .hamburger_navi {
    width: 30%;
    height: 100%;
    padding-top: 10vh;
    margin: 0 auto;
    text-align: center;
    line-height: 12vh;
  }

  .hamburger_navi li a {
    font-size: 18px;
    color: #fff;
  }

  .hamburger_navi li a:hover {
    display: inline-block;
    transform: scale(1.2);
    transition: 0.1s;
  }


  .hamburger_navi img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }


  #hamburger span {
    width: 100%;
    height: 2px;
    background:var(--textcolor);
    position: absolute;
    transition: all 0.5s;
  }

  #hamburger span:nth-child(1) {
    top: 5px;
  }


  #hamburger span:nth-child(2) {
    top: 15px;
  }


  #hamburger span:nth-child(3) {
    top: 25px;
  }


  /* ---ハンバーガークリックしたとき---- */
  #hamburger.open span:nth-child(1) {
    top: 15px;
    transition: 0.5s;
    transform: rotate(-45deg);
    background-color: #fff;
  }

  #hamburger.open span:nth-child(2) {
    top: 15px;
    transition: 0.5s;
    transform: rotate(45deg);
    background-color: white;
  }

  #hamburger.open span:nth-child(3) {
    transition: 0.5s;
    opacity: 0;
  }

  .hamburger_menu.open {
    opacity: 1;
    transition: opacity 0.5s;
    pointer-events: auto;
  }


  /* ----------------main-------------------
--------------------about-------------- */

#about {
  width: 100%;
  position: relative;
}

#about .container {
  display: flex;
  flex-direction: column-reverse;
 justify-content: center;
}

#about .section_title {
  text-align: center;
}

  .name_ja {
    font-size: 18px;
  }

  .about_image img {
    width: 100%;
  }

  .about_text {
    width: 70%;
  }

  .profile p {
    font-size: 0.8rem;
  }

  /* ---------------skill-------------------*/
  .skill_wrapper {
    width: 100%;
    display: block;
    margin: 0 auto;
  }


   .skill_text {
    width: 70%;
    margin: 0 auto;
  }

  .skill_text:nth-child(2) {
    margin-top: 50px;
  }


  .skill_text h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .skill_wrapper h3 img {
    width: 30px;
    height: 30px;
  }

  .skill_text p {
    font-size: 0.8rem;
  }

  .skill_text ul {
    gap: 12px;
  }

  .design-img img,
  .coding_img img{
    width:30vw;
  }
  


  .design_square1 {
    width: 140px;
    height: 320px;
  }

  .design_square2 {
    width: 200px;
    height: 200px;
  }


  /* --------------works--------------------- */

  .works_list {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    gap: 32px;
  }

  .works_list li{
    width: 300px;
    height: 250px;
    margin-bottom: 32px;
  }


/* --------flow------------- */
#flow {
  width: 100%;
  padding: 150px 0 100px;
}


.flow-wrapper {
  width: 100%;
}


.flow_content {
  width: 80%;
    }

.flow_circle1 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--maincolor);
  position: absolute;
  bottom: 10px;
  left: 150px;
}

.flow_circle2{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  bottom: 80px;
  left: 120px;

}
.flow_circle3{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  bottom: 130px;
  left: 110px;
}




/* -------------price---------------- */
.price-content {
  gap: 24px;
}


/* =======料金別ページスタイル========= */

  /* --------フッター---------- */

  #to_top {
    width: 50px;
    height: 50px;
    font-size: 12px;
  }


}


/* ======================================= */
/* ===========mobile============== */
@media(max-width:540px) {


  /* ------common------- */
  .container {
    max-width: 90%;
    margin: 0 auto;
  }

  /* - -------contactボタン-------- - */
  .contact_btn a {
    padding: 5px 15px;
  }

  .main-text {
    font-size: 1.2rem;
  }

  .sub-text {
    font-size: 0.5rem;
  }

  
  .section_title h2 {
    font-size: 42px;
  }



  /* ----------メインビジュアル----------- */
 
  .main_visualtext {
    width: 90vw;
  }


  .main_visualtext p:nth-of-type(1) {
    font-size: 16px;
  }
  
  .main_visualtext p:nth-of-type(2) {
    font-size: 14px;
    line-height: 1.5rem;
  }
  


  

  /* -------------about------------- */
  .about_image {
    width: 60%;
    margin: 0 auto;
  }

  .about_text {
    width: 100%;
    margin: 100px auto 0;
  }

  .about_text .section_title {
    text-align: center;
  }

  .profile p {
    font-size: 11px;
  }


  .about_circle1 {
    width: 120px;
    height: 120px;
    top: 40px;
    right: 50px;
  }

  .about_circle2 {
    width: 70px;
    height: 70px;
    top: 160px;
    right: 10px;
  }


  .about_circle3 {
    width: 40px;
    height: 40px;
    top: 250px;
    right: 50px;
  }


  /* --------------skill----------------- */
  .skill_text {
    width: 100%;
   padding: 10px;
    font-size: 12px;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    background-color: #F7F6F0;
  }

  .skill_text ul li {
    width: 60px;
    height: 60px;
    font-size: 8px;
  }

  /* --------flow------------- */
  .flow-wrapper {
    width: 100%;
    margin: 0px auto;
    padding: 0px;
  }


  .flow_circle1 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--maincolor);
    position: absolute;
    bottom: 10px;
    left: 100px;
  }
  
  .flow_circle2{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    bottom: 60px;
    left: 70px;
  
  }
  .flow_circle3{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    bottom: 100px;
    left: 60px;
  }
  
/* -------------price---------------- */

.price-content {
  display: block;
}

.price-text {
  font-size: 14px;
  max-width: 400px;
  text-align: center;

}

}